{# {{ encore_entry_script_tags('wallabagwidget') }} #}
<h2 class="font-bold">{{ parameters.title }}</h2>
<p class="text-white">Pour ce widget, vous avez entré : {{ parameters.longtext|default('pas grandchose') }} (N# {{ parameters.number|default('aucun nombre') }})</p>
{# <div id="wallabagWidget">${ demoText }$</div> #}
